[package]
name = "cargo-tarpaulin"
version = "0.28.0"
authors = ["Daniel McKenna <danielmckenna93@gmail.com>"]
description = "Cargo-Tarpaulin is a tool to determine code coverage achieved via tests"
repository = "https://github.com/xd009642/tarpaulin"
readme = "README.md"
license = "MIT OR Apache-2.0"
categories = ["development-tools"]
keywords = ["cargo", "cargo-subcommand", "testing"]
edition = "2018"
autotests = false
build = "build.rs"

[[bin]]
name = "cargo-tarpaulin"

[[test]]
name = "integration"
path = "tests/mod.rs"

[dependencies]
cargo_metadata = "0.18"
cfg-if = "1.0.0"
chrono = "0.4"
clap = { version = "4.4.0", features = ["derive"] }
coveralls-api = "0.6.0"
fallible-iterator = "0.3.0"
gimli = "0.29.0"
git2 = "0.18"
humantime-serde = "1"
indexmap = { version = "~1.8", features = ["serde-1"] }
lazy_static = "1.0"
#llvm_profparser = "0.4.0"
llvm_profparser = {  git = "https://github.com/xd009642/llvm-profparser", branch = "fix/integration-pains" }
object = "0.35"
num_cpus = "1.16.0"
proc-macro2 = { version = "1.0", features = ["span-locations"] }
quick-xml = "0.31"
quote = "1.0"
regex = "1.10"
rustc-demangle = "0.1.23"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
syn = { version = "1.0", features = ["full"] }
toml = "0.8"
tracing = { version = "0.1", default-features = false }
tracing-subscriber = { version = "0.3.18", default-features = false, features = [
    "env-filter",
    "fmt",
    "chrono",
    "ansi",
    "smallvec",
    "tracing-log",
] }
walkdir = "2.5.0"
glob = "0.3.1"
enum-display = "0.1.4"

[target.'cfg(all(target_os = "linux", any(target_arch = "x86_64", target_arch = "x86")))'.dependencies]
libc = "0.2.94"
nix = {version = "0.28.0", default-features = false, features = ["sched", "signal", "ptrace", "personality"]}
procfs = "0.16"

[features]
default = []
vendored-openssl = ["git2/vendored-openssl"]

[build-dependencies]
rustc_version = "0.4"

[dev-dependencies]
lcov = "0.8.1"
rusty-fork = "0.3.0"

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/{ version }/cargo-tarpaulin-{ target }{ archive-suffix }"
bin-dir = "cargo-tarpaulin{ binary-ext }"
pkg-fmt = "tgz"

[package.metadata.binstall.overrides.x86_64-pc-windows-msvc]
pkg-fmt = "zip"
