[package]
name = "cargo-tarpaulin"
version = "0.10.2"
authors = ["Daniel McKenna <danielmckenna93@gmail.com>"]
description = "Cargo-Tarpaulin is a tool to determine code coverage achieved via tests"
repository = "https://github.com/xd009642/tarpaulin"
readme = "README.md"
license = "MIT/Apache-2.0"
categories = ["development-tools"]
keywords = ["cargo", "cargo-subcommand", "testing"]
edition = "2018"
autotests = false

[[bin]]
name = "cargo-tarpaulin"

[[test]]
name = "integration"
path = "tests/mod.rs"

[dependencies]
cargo = "0.41"
chrono = "0.4"
clap = "2.33.0"
coveralls-api = "0.4.0"
env_logger = "0.7"
failure = "0.1.3"
fallible-iterator = "0.2.0"
gimli = "0.19.0"
git2 = "0.10"
lazy_static = "1.0"
libc = "0.2.66"
log = "0.4.8"
memmap = "0.7.0"
nix = "0.16.1"
object = "0.17"
proc-macro2 = { version = "1.0", features = ["span-locations"] }
quick-xml = "0.17"
quote = "1.0"
regex = "1.3"
rustc-demangle = "0.1.11"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
syn = { version = "1.0", features = ["full"]}
void = "1.0"
walkdir = "2.3.1"
