[package]
name = "cargo-tarpaulin"
version = "0.18.3"
authors = ["Daniel McKenna <danielmckenna93@gmail.com>"]
description = "Cargo-Tarpaulin is a tool to determine code coverage achieved via tests"
repository = "https://github.com/xd009642/tarpaulin"
readme = "README.md"
license = "MIT/Apache-2.0"
categories = ["development-tools"]
keywords = ["cargo", "cargo-subcommand", "testing"]
edition = "2018"
autotests = false
build = "build.rs"

[[bin]]
name = "cargo-tarpaulin"

[[test]]
name = "integration"
path = "tests/mod.rs"

[dependencies]
cargo_metadata = "0.14"
chrono = "0.4"
clap = "2.33.3"
coveralls-api = "0.5.0"
fallible-iterator = "0.2.0"
gimli = "0.26.1"
git2 = "0.13"
humantime-serde = "1"
indexmap = { version = "1.7.0", features = ["serde-1"] }
lazy_static = "1.0"
tracing = { version = "0.1", default-features = false }
tracing-subscriber = {version = "0.2.25", default-features = false, features = ["env-filter", "fmt", "chrono", "ansi", "smallvec", "tracing-log"]}
memmap = "0.7.0"
object = "0.24"
proc-macro2 = { version = "1.0", features = ["span-locations"] }
quick-xml = "0.22"
quote = "1.0"
regex = "1.4"
rustc-demangle = "0.1.21"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
syn = { version = "1.0", features = ["full"]}
toml = "0.5"
walkdir = "2.3.2"
cfg-if = "1.0.0"

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2.94"
nix = "0.23.0"
procfs = "0.11"

[features]
default = []
vendored-openssl = ["git2/vendored-openssl"]

[build-dependencies]
rustc_version = "0.4"

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/{ version }/cargo-tarpaulin-{ version }-travis.tar.gz"
bin-dir = "cargo-tarpaulin"
pkg-fmt = "tgz"
