name: Release

on:
  push:
    tags:
      - '*.*.*'
    branches:
      - "*"

jobs:
  crates:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: publish package to crates
        run: |
          cargo package
          cargo publish --token ${{ secrets.CARGO_TOKEN }}

  binaries:
    name: Build cargo-tarpaulin binaries for ${{ matrix.target }}
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
          - target: x86_64-unknown-linux-musl
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
            target: ${{ matrix.target }}
            override: true
      - name: build
        run: cargo build --release
      - name: archive
        run: |
          GIT_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
          tar -C target/${{ matrix.target }}/release -czf $(pwd)/cargo-tarpaulin-${GIT_TAG}-${{ matrix.target }}.tar.gz cargo-tarpaulin
      - name: publish release
        uses: softprops/action-gh-release@v1
        with:
          files: cargo-tarpaulin-*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
