name: Build

on:
  push:
    branches:
      - "*"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - stable
          - beta
          - nightly
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.version }}
          override: true
          components: rustfmt
      - name: clean
        run: cargo clean
      - name: build
        run: cargo build --verbose
        env:
          RUST_BACKTRACE: 1
      - name: test
        run: cargo test -- --test-threads 1
        env:
          RUST_BACKTRACE: 1
      - name: ignored test
        run: cargo test -- --test-threads 1 --ignored || true
        env:
          RUST_BACKTRACE: 1
        if: matrix.version == 'nightly'
      - name: check formatting
        run: cargo fmt -- --check
      - name: notify docker hub
        run: |
          curl --request POST \
            --header 'Content-Type: application/json' \
            --data '{"build": true}' \
            https://registry.hub.docker.com/u/xd009642/tarpaulin/trigger/${{ secrets.DOCKER_TOKEN }}/
        if: github.ref == 'ref/heads/master' || github.ref == 'refs/heads/develop'
